@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,300;0,400;1,200;1,300;1,400&family=Roboto+Slab:wght@400;500;600&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --font-primary: "Roboto Slab";
    --font-secondary: "Josefin Slab";
    --font-action: "Mulish";
}

html {
    scroll-behavior: smooth;
    background-color: #f5f5f5;

}

.hamburguer {
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer {
    right: 16rem;
}

.line {
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px black;
    transition: transform 1s;
}

.show-menu #line1 {
    transform: rotate(45deg) translate(.28rem, .45rem);
}

.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3 {
    transform: rotate(-45deg) translate(.28rem, -.45rem);
}

.hamburguer span {
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003A8C;
    color: #fff;
    font-family: var(--font-action);
    opacity: 0;
}

.hamburguer span::before {
    content: " ";
    position: absolute;
    border-right: .5rem solid #003A8C;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span {
    opacity: 1;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    animation: zoom 25s;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.banner {
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1 {
    color: #fff;
    font-size: 5.5rem;
    font-family: var(--font-primary);
    font-weight: 400;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, .4);
    line-height: 3.5rem;
    margin-bottom: 3.5rem;
    opacity: 0;
    animation: moveBanner 1s 0.7 forwards;
}

.banner p {
    font-family: var(--font-secondary);
    color: #fff;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, .4);
    margin-bottom: 2.5rem;
    opacity: 0;
    animation: moveBanner 1s 0.8s forwards;
}

.banner button {
    font-family: var(--font-action);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background-color: #003A8C;
    background-image: -webkit-linear-gradient(to right, #003A8C, #001533);
    background: linear-gradient(to right, #003A8C, #001533);
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
}

.banner button:hover {
    background: #000025;
    background-image: -webkit-linear-gradient(to right, #002c69, #000f24);
    background: linear-gradient(to right, #002c69, #000f24);
    transition: 0.5s;
}

@keyframes moveBanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg);
    }
    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 80;
}

.show-menu .sidebar {
    right: 0;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    text-align: center;
    margin: 1.5rem 0px .8rem 0px;

}

.menu-link {
    font-family: var(--font-secondary);
    font-size: 1.7rem;
    color: #003A8C;
    transition: color 1s;

}

.menu-link:hover {
    color: #000f24;
    text-decoration: underline;
}

.social-media {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.social-contato {
    font-family: var(--font-secondary);
    font-size: 1.7rem;
    color: #003A8C;
}

.social-icone {
    display: flex;
    justify-content: space-evenly;
}
.social-media i {
    background-color: #003A8C;
    color: #fff;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
}

.social-media i:hover {
    background-color: #000f24;
}

.confissoes {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(10, 6rem);
}

.confissao:nth-child(1) {
    grid-column: 8 / 14;
    grid-row: 1 / 3;
}
.confissao:nth-child(2) {
    grid-column: 2 / 8;
    grid-row: 4 / 6;
}
.confissao:nth-child(3) {
    grid-column: 2 / 8;
    grid-row: 7 / 9;
}
.confissao:nth-child(4) {
    grid-column: 14 / 20;
    grid-row: 4 / 6;
}
.confissao:nth-child(5) {
    grid-column: 14 / 20;
    grid-row: 7 / 9;
}

.sessao-confissoes {
    background-color: #f5f5f5;
}

.sessao-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessao-header h1 {
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #4b4b4b;
    border-bottom: solid 3px #003A8C;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.confissao-header {
    display: flex;
    align-items: center;
    color: #00204D;
    justify-content: center;
}

.confissao-header i {
    font-size: 2.5rem;
}

.confissao-header h3 {
    font-family: var(--font-secondary);
    font-size: 2rem;
    padding-left: 1rem;
}

.confissao-text {
    font-family: var(--font-action);
    margin-top: 1rem;
    font-size: 1.3rem;
    text-align: justify;
    line-height: 1.4rem;
}

.confissoes-img-wrapper {
    grid-column: 9 / 13;
    grid-row: 4 / 8;
    width: 100%;
}
.confissoes-img-wrapper img {
    object-fit: cover;
    width: 100%;
}

.sessao-artigos {
    background-color: #f5f5f5;
}

.artigos {
    display: flex;
    justify-content: space-evenly;

}

.card {
    width: 18rem;
    height: 25rem;
    position: relative;
}

.card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: .5rem;
}

.card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: .8;
    border-radius: .5rem;
    transition: opacity .3s;
}

.card:hover .card-img-wrapper img {
    opacity: .3;
}

.card-info {
    position: absolute;
    bottom: 0;
    padding: 2rem;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, .6);
    transition: .3s;
}

.card:hover .card-info {
    bottom: 2rem;
}

.card-info h2 {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #fbff11;
    margin-bottom: 1.5rem;
}

.card-info p {
    font-family: var(--font-secondary);
    color: #eee;
    font-weight: 600;
    width: 80%;
    margin: 10px;
    margin-bottom: 2rem;
}

.card-info button {
    width: 8rem;
    height: 2.5rem;
    background-color: #003A8C;
    background-image: -webkit-linear-gradient(to right, #003A8C, #001533);
    background: linear-gradient(to right, #003A8C, #001533);
    font-family: var(--font-action);
    color: #eee;
    border-radius: .5rem;
    border: none;
    box-shadow: 0 0.1rem .8rem rgba(0, 0, 0, 0.4);
}

.card-info button:hover {
    background: #000025;
    background-image: -webkit-linear-gradient(to right, #002c69, #000f24);
    background: linear-gradient(to right, #002c69, #000f24);
    transition: 0.5s;
}

#link-topo {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 3rem;
    height: 3rem;
    background-color: #003A8C;
    background-image: -webkit-linear-gradient(to right, #003A8C, #001533);
    background: linear-gradient(to right, #003A8C, #001533);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: .5rem;
    box-shadow: 0 0.1rem 0.6rem #00000009;
}

.sessao-about {
    background-color: #f5f5f5;
    width: 100%;
}

.about {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 0 10rem;
}

.img-wrapper-about {
    display: flex;
    justify-content: baseline;
    align-items: flex-end;
    position: relative;
    width: 100%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    margin: 5px 20px 5px 10px;
    padding: 5px 20px 0px 10px;
}

.img-wrapper-about img {
    width: 23rem;
    height: 25rem;
    object-fit: cover;
}

.about-info {
    color: #000;
    font-family: var(--font-secondary);
    font-weight: normal;
    font-size: 1.5rem;
    display: flex;
    text-align: right;
    justify-content: center;
    align-items: center;
    margin: 30px 5px 30px 50px
}

footer {
    width: 100%;
    height: 7rem;
    background-color: #17181b;
    color: #eee;
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1229px) {
    body {
        max-width: 100%;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 1229px) {
    #home {
        max-width: 100%;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 1229px) {
    .sessao-confissoes {
        max-width: 100%;
        object-fit: cover;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        object-fit: cover;
    }
}

@media screen and (max-width: 1229px) {
    .confissoes {
        display: flex;
        flex-direction: column;
        margin: 20px;
        object-fit: cover;
    }
}

@media screen and (max-width: 1229px) {
    .confissao {
        padding: 20px;
        width: 100%;
    }
}

@media screen and (max-width: 1229px) {
    .confissao-text {
        margin: 20px;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1229px) {
    .confissoes-img-wrapper {
        display: none;
    }
}

@media screen and (max-width: 1229px) {
    .artigos {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(9, 1fr);
	    grid-template-rows: repeat(10, 100px);
    }
}

@media screen and (max-width: 1229px) {
    .card:nth-child(1) {
        grid-column: 3 / 5;
        grid-row: 1 / 5;
    }
}

@media screen and (max-width: 1229px) {
    .card:nth-child(2) {
        grid-column: 6 / 8;
        grid-row: 1 / 5;
    }
}

@media screen and (max-width: 1229px) {
    .card:nth-child(3) {
        grid-column: 3 / 5;
        grid-row: 6 / 10;
    }
}

@media screen and (max-width: 1229px) {
    .card:nth-child(4) {
        grid-column: 6 / 8;
        grid-row: 6 / 10;
    }
}

@media screen and (max-width: 1229px) {
    .sessao-about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1229px) {
    .about {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media screen and (max-width: 1229px) {
    .img-wrapper-about {
        display: flex;
        justify-content: center;

    }
}

@media screen and (max-width: 1229px) {
    .about-info {
        display: flex;
        justify-content: center;
        width: 50%;
        font-size: 1.8rem;
        text-align: center;
    }
}

@media screen and (max-width: 615px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 615px) {
    .banner h1 {
        font-size: 3.8rem
    }
}

@media screen and (max-width: 615px) {
    .banner p {
        font-size: 2.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 615px) {
    .artigos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 615px){
    .card {
        margin: 10px;
    }
}

@media screen and (max-width: 615px){
    .about-info {
        width: 90%;
    }
}

@media screen and (max-width: 615px){
    .about-info p {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 615px){
    footer p{
        width: 90%;
        font-size: 1.2rem;
        margin: 5px 20px;
        padding: 10px;

    }
}

@media screen and (max-width: 455px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 455px) {
    .banner h1 {
        font-size: 3.8rem
    }
}

@media screen and (max-width: 455px) {
    .banner p {
        font-size: 2.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
}

@media screen and (max-width: 455px) {
    .confissoes {
        display: flex;
        flex-direction: column;
        margin: 20px;
        object-fit: cover;
    }
}

@media screen and (max-width: 455px) {
    .confissao {
        padding: 20px;
        width: 100%;
    }
}


@media screen and (max-width: 455px){
    .about-info p {
        background-color: red;
        margin: 10px;
        padding: 5px;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}